<div class="container-fluid">
  <%= form_with(model: menu, local: true) do |form| %>
    <% if menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

        <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="control-field">
        <%= form.label "Nazwa" %>
        <%= form.text_field :name, class: "form-control"  %>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="control-group">
        <%= form.label "Menu Domyslne", class: "control-label" %>
        <div class="controls">
          <%= form.check_box :default_menu,:class => "check" %>
        </div>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="control-group">
        <%= form.label "Catering Menu", class: "control-label" %>
        <div class="controls">
          <%= form.check_box :catering_menu,:class => "check" %>
        </div>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <div class="control-group">
        <%= form.label "Menu Tymczasowe", class: "control-label" %>
        <div class="controls">
          <%= form.check_box :temporary_menu,:class => "check", :onclick => "document.getElementById('showonchecked').style.display = (this.checked ? 'inline' : 'none');" %>
        </div>
      </div>
    </div>

  </div>
<hr class="style2">
<div class="row">
  <div class="col">
    <div class="control-group">
      <h4><%= form.label "Wybierz Potrawy", class: "control-label" %></h4>
      <div class="controls">
        <%= form.collection_check_boxes :dish_ids, Dish.all, :id, :extended_info_for_check_boxes do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr class="style2">

<div id="showonchecked" style="display:none">
  <div class="row mt-4">
    <div class="col-6">
      <div class="control-field">
        <%= form.label "Wazne Od: " %>
        <%= form.datetime_select :start_date %>
      </div>
    </div>
    <div class="col-6">
      <div class="control-field">
        <%= form.label "Wazne Do: " %>
        <%= form.datetime_select :end_date %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-2">
    <div class="actions">
      <%= link_to 'Wstecz', {:controller => 'admins', :action => "index"}, class: 'btn btn-block btn-danger' %>
    </div>

  </div>
  <div class="col-2">
    <div class="actions">
      <%= form.submit "Zapisz", class: "btn btn-block btn-success" %>
    </div>
  </div>
</div>



  <% end %>
</div>

<!-- this script will allow only one checkbox to be selected -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.check').click(function() {
        $('.check').not(this).prop('checked', false);
    });
});
</script>
