<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Lista Menu</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= link_to 'New Menu', new_menu_path %>
    </div>
    <div class="col-md-4">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Typ Menu</th>
            <th scope="col">Data Utworzenia</th>
            <th scope="col">Opcje</th>
          </tr>
        </thead>
        <tbody>
          <% @menus.each do |menu| %>
          <tr>
            <td class="col-md-3"><%= menu.name %></td>
            <td class="col-md-3">
              <% if menu.default_menu == true %>
              <%= "Menu Domyslne"%>
              <% elsif menu.catering_menu == true %>
              <%= "Catering" %>
              <% else %>
              <%= "Menu Tymczasowe" %><br/><span class="small"> <%= convert_time_to_readable(menu.start_date) %> -> <%= convert_time_to_readable(menu.end_date) %></span>
              <% end %>
            </td>
            <td class="col-md-3"><%= convert_time_to_readable(menu.updated_at) %></td>
            <td class="col-md-1"><%= link_to 'Pokaz', menu %></td>
            <td class="col-md-1"><%= link_to 'Edytuj', edit_menu_path(menu) %></td>
            <td class="col-md-1"><%= link_to 'Usun', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12" style="height:300px;">
        <!-- dummy spacer to keep footer down -->
      </div>
    </div>

</div>
