<div class="container-fluid">

  <%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

    <ul>
      <% blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="control-field">
        <%= form.label "Tytul" %>
        <%= form.text_field :title, :class => "form-control" %>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="control-field">
        <%= form.label "Publikuj teraz" %>
        <%= form.check_box :published,:class => "check" %>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="control-field">
        <%= form.label "Publikuj Pozniej" %>
        <%= form.check_box :schedule_publish,:class => "check", :onclick => "document.getElementById('showonchecked').style.display = (this.checked ? 'inline' : 'none');" %>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="control-field">
        <%= form.label "Nie publikuj" %>
        <%= form.check_box :not_publish,:class => "check", :onclick => "document.getElementById('showonchecked').style.display = (this.checked ? 'inline' : 'none');" %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <%= form.label "Tresc" %>
      <%= form.rich_text_area :body %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <div class="control-field">
        <%= form.label "Wazne od" %>
        <%= form.datetime_select :valid_from %>
      </div>
    </div>
    <div class="col-6">
      <div class="control-field">
        <%= form.label "Wazne do" %>
        <%= form.datetime_select :valid_to %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="control-field">
        <%= form.label :main_poster %>
        <%= form.file_field :main_poster %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="control-field">
        <%= form.label :thumb_poster %>
        <%= form.file_field :thumb_poster %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <div class="actions">
        <%= link_to 'Wstecz', {:controller => 'admins', :action => "index"}, class: 'btn btn-block btn-danger' %>
      </div>

    </div>
    <div class="col-2">
      <div class="actions">
        <%= form.submit "Zapisz", class: "btn btn-block btn-success" %>
      </div>
    </div>
  </div>
  <% end %>


</div>

<!-- this script will allow only one checkbox to be selected -->
<script type="text/javascript">
  $(document).ready(function(){
    $('.check').click(function() {
        $('.check').not(this).prop('checked', false);
    });
});
</script>
