<div class="container-fluid">

  <%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

    <ul>
      <% blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col">
      <div class="control-field">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
    </div>
    <div class="col">
      <div class="control-field">
        <%= form.label :published %>
        <%= form.check_box :published %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="control-field">
      <%= form.label :body %>
      <%= form.rich_text_area :body %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="control-field">
        <%= form.label :valid_from %>
        <%= form.datetime_select :valid_from %>
      </div>
    </div>
    <div class="col">
      <div class="control-field">
        <%= form.label :valid_to %>
        <%= form.datetime_select :valid_to %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="control-field">
      <%= form.label :main_poster %>
      <%= form.text_area :main_poster %>
    </div>
  </div>

  <div class="row">
    <div class="control-field">
      <%= form.label :thumb_poster %>
      <%= form.text_area :thumb_poster %>
    </div>
  </div>

  <div class="row">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  <% end %>

</div>
