<!-- details card section starts from here -->
<section class="details-card">
    <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-1">

          </div>

            <div class="col-lg-6 col-md-10">
                <div class="card-content">
                    <div class="card-img">
                      <%= image_tag(@blog.main_poster) %>
                        <span><h4><%= convert_time_to_readable(@blog.updated_at) %></h4></span>
                    </div>
                    <div class="card-desc">
                        <h3><%= @blog.title %></h3>
                        <p><%= @blog.body %></p>
                        <%= link_to 'Wstecz', {:controller => 'pages', :action => "home"}, class: 'btn btn-block btn-success' %>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-1">

            </div>

        </div>
    </div>
</section>
