<div class="container-fluid">

    <div class="row">
      <div class="col-md-12 table-responsive-md">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class="col-md-9">Liczba potraw w bazie danych</td>
              <td class="col-md-1"><%= Dish.all.count %></td>
              <td class="col-md-2"><%= link_to 'Zobacz', {:controller => 'dishes', :action => "index"}, class: 'btn btn-block btn-danger' %></td>
            </tr>

            <tr>
              <td class="col-md-9">Liczba potraw nieuaktualnionych przez ostatnie 60 dni</td>
              <td class="col-md-1"><%= Dish.dish_price_older_than_two_months.count %></td>
              <td class="col-md-2"><%= link_to 'Zobacz', {:controller => 'dishes', :action => "price_out_of_date"}, class: 'btn btn-block btn-danger' %></td>
            </tr>

            <tr>
              <td class="col-md-9">Liczba menu w bazie danych</td>
              <td class="col-md-1"><%= Menu.all.count %></td>
              <td class="col-md-2"><%= link_to 'Zobacz', {:controller => 'menus', :action => "index"}, class: 'btn btn-block btn-danger' %></td>
            </tr>

            <tr>
              <td class="col-md-9">Liczba ogloszen w bazie danych</td>
              <td class="col-md-1"><%= Blog.all.count %></td>
              <td class="col-md-2"><%= link_to 'Zobacz', {:controller => 'blogs', :action => "index"}, class: 'btn btn-block btn-danger' %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>






      <div class="row">
        <div class="col-md-12" style="height:300px;">
          <!-- dummy spacer to keep footer down -->
        </div>
      </div>




</div>
