<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Restauracja Nad Motlawa</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="<%= 'nav-item active' if params[:controller] == 'pages' && params[:action] == 'home' %>"><%= link_to("Home", {:controller => 'pages', :action => 'home'}, :class => "nav-link") %>
      </li>
      <li class="<%= 'nav-item active' if params[:controller] == 'pages' && params[:action] == 'daymenu' %>"><%= link_to("Menu", {:controller => 'pages', :action => 'daymenu'}, :class => "nav-link") %>
      </li>
      <li class="<%= 'nav-item active' if params[:controller] == 'pages' && params[:action] == 'catering' %>"><%= link_to("Catering", {:controller => 'pages', :action => 'catering'}, :class => "nav-link") %>
      </li>
      <li class="<%= 'nav-item active' if params[:controller] == 'pages' && params[:action] == 'about' %>"><%= link_to("O Nas", {:controller => 'pages', :action => 'about'}, :class => "nav-link") %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Live Feeds</a>
      </li>
      <li class="<%= 'nav-item active' if params[:controller] == 'admins' && params[:action] == 'dashboard' %>"><%= link_to("Admin", {:controller => 'admins', :action => 'index'}, :class => "nav-link") %>
      </li>
    </ul>
  </div>
</nav>
