<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 mb-2">
        <h4 class="">Restauracja "Nad Motławą"</h4>
        <table class="table table-sm table-borderless">
          <tbody>
            <% WorkingHour.all.sort_by_day.each do |d| %>
            <tr style="color:white; font-size: 0.90em;">
              <td><%= d.day %></td>
              <td>
                 <% if d.operating == true %>
                   <%= "Restauracja Nieczynna" %>
                 <% else %>
                   <%= display_only_hour(d.open_time) %> - <%= display_only_hour(d.close_time) %>
                 <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 links mb-2">
        <div class="center_part" >
          <h4>Links</h4>
          <ul>
            <li><%= link_to("Home", {:controller => 'pages', :action => 'home'}) %></li>
            <li><%= link_to("Menu", {:controller => 'pages', :action => 'daymenu'}) %></li>
            <li><%= link_to("Catering", {:controller => 'pages', :action => 'catering'}) %></li>
            <li><%= link_to("O Nas", {:controller => 'pages', :action => 'about'}) %></li>
            <li><%= link_to("Galerie", {:controller => 'galleries', :action => 'index'}) %></li>
          </ul>

        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 location">
        <h4 class="">Kontakt</h4>

        <table class="table table-sm table-borderless">
          <tbody>

            <tr style="color:white; font-size: 1em;">
              <td><a class="footer-links" href="https://goo.gl/maps/5fdEL1X94mkU8Cz98"><i class="fa fa-map"></i></a></td>
              <td>83-022 Suchy Dąb, ul.Gdańska 9</td>
            </tr>

            <tr style="color:white; font-size: 1em;">
              <td><i class="fa fa-envelope-o mr-3"></i></td>
              <td><a class="footer-links" href="mailto:nadmotlawa@op.pl?subject=Zapytanie%20ze%20of%20strony%20internetowej">kontakt@nadmotlawa.pl</a></td>
            </tr>

            <tr style="color:white; font-size: 1em;">
              <td><i class="fa fa-phone mr-3"></i></td>
              <td>058 6828615</td>
            </tr>

            <tr style="color:white; font-size: 1em;">
              <td><a class="footer-links" href="https://www.facebook.com/nadmotlawa/"><i class="fa fa-facebook-square"></i></td>
              <td><a class="footer-links" href="https://www.facebook.com/nadmotlawa/">facebook</a></td>
            </tr>

          </tbody>
        </table>

      </div>

    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p><small class="text-white-50">© Projekt i wykonanie: Slawomir Malczewski / <%= DateTime.now.year %>. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>
