<div class="wholebackground">

<div id="carousel" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#carousel" data-slide-to="0" class="active"></li>
     <li data-target="#carousel" data-slide-to="1"></li>
     <li data-target="#carousel" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner" role="listbox">
     <div class="carousel-item active">
       <%= image_tag("historia-1.png") %>
       <div class="container">
         <div class="carousel-caption d-none d-md-block text-left">
           <h1>Example headline.</h1>
           <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         </div>
       </div>
     </div>
     <div class="carousel-item">
       <%= image_tag("historia-2.png") %>
       <div class="container">
         <div class="carousel-caption d-none d-md-block">
           <h1>Another example headline.</h1>
           <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
         </div>
       </div>
     </div>
     <div class="carousel-item">
       <%= image_tag("historia-3.png") %>
       <div class="container">
         <div class="carousel-caption d-none d-md-block text-right">
           <h1>One more for good measure.</h1>
           <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
         </div>
       </div>
     </div>
   </div>
   <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>


<!-- Page Content -->
<div class="row newspaperstyle">
  <div class="head">
    <div class="newspaperheader">
      Restauracja Nad Motlawa
    </div>
    <div class="subhead">Suchy Dab, <%= newspaper_date %></div>
  </div>

<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><span class="headline hl1">Kilka słów o nas</span><p><span class="headline hl4">Slawomir Malczewski</span></p></div>
            Restauracja “Nad Motławą” istnieje nieprzerwanie od 1952 r.
            Te wszystkie lata naszej dotychczasowej działalności pozwoliły nam się rozwinąć, nabrać doświadczenia i wyjść naprzeciw oczekiwaniom naszych klientów.
            Przyjazna atmosfera, miła obsługa, smaczne i zdrowe obiady domowe “jak u mamy” w bardzo przystępnej cenie oraz typowa żuławska gościnność to atuty, dzięki którym chcemy zdobyć Państwa serca i podniebienia.
            Jesteśmy firmą rzetelną i dobrze zorganizowaną, do każdego zamówienia podchodzimy indywidualnie, tak aby w pełni spełnić oczekiwania naszych klientów.
            Mamy nadzieję, że nasze starania zachęcą Państwa do częstego odwiedzania naszego lokalu i powierzania nam organizacji imprez rodzinnych, firmowych i spotkań w gronie przyjaciół.
            Niech te ponad <%= calculate_number_of_years() %> lat naszej nieprzerwanej działalności będzie naszą najlepszą rekomendacją … <br/>
            Serdecznie zapraszamy i życzymy smacznego !
        </div>
        <div class="collumn">
            <div class="head"><span class="headline hl5">Give people courage</span><p><span class="headline hl6">The crowd seemed to grow</span></p></div>
            <p>The sunset faded to twilight before anything further happened.  The crowd far away on the left, towards Woking, seemed to grow, and I heard now a faint murmur from it.  The little knot of people towards Chobham dispersed.  There was scarcely an intimation of movement from the pit.</p>
			<figure class="figure">
								<img class="media" src="http://i.giphy.com/13LlAxmDwAkopO.gif" alt="">
								<figcaption class="figcaption">Nie ufaj chudemu kucharzowi</figcaption>
						</figure>
            <p>It was this, as much as anything, that gave people courage, and I suppose the new arrivals from Woking also helped to restore confidence.  At any rate, as the dusk came on a slow, intermittent movement upon the sand pits began, a movement that seemed to gather force as the stillness of the evening about the cylinder remained unbroken.  Vertical black figures in twos and threes would advance, stop, watch, and advance again, spreading out as they did so in a thin irregular crescent that promised to enclose the pit in its attenuated horns.  I, too, on my side began to move towards the pit.</p>

            <p>Then I saw some cabmen and others had walked boldly into the sand pits, and heard the clatter of hoofs and the gride of wheels.  I saw a lad trundling off the barrow of apples.  And then, within thirty yards of the pit, advancing from the direction of Horsell, I noted a little black knot of men, the foremost of whom was waving a white flag.</p>

            </div>
        <div class="collumn"><div class="head"><span class="headline hl1">Pierogi</span><p><span class="headline hl2">Skąd się wzięły w Polsce  pierogi?</span></p></div><p>Legenda głosi, że św. Jacek Odrowąż przywiózł je z Kijowa. Był zachwycony ich smakiem, poznał je podczas swoich podróży misyjnych w XIII wieku po Rusi, dzisiejszej Ukrainie.</p>
	<figure class="figure">
								<img class="media" src="http://i.giphy.com/xT1R9YKgiFDSpEyxBS.gif" alt="">
								<figcaption class="figcaption">"Nasze pierogi sa najlepsze"</figcaption>
						</figure>
            <p>Stąd też wzięła się nazwa – pierogi ruskie. Wprawdzie wtedy jeszcze w Europie nie znano ziemniaków, więc pewnie były z innym nadzieniem np. z serem, kaszą, kapustą, owocami … Kult św. Jacka jest rozpowszechniony na wielu kontynentach i w wielu krajach, ale tylko w Polsce jest on św. Jackiem z Pierogami.Pierogi podaje się na gorąco z wody albo podsmażane, w zależności od nadzienia. Polane skwarkami, podsmażoną cebulką, roztopionym masłem, śmietaną, miodem, musem owocowym… Pierogi najlepiej popijać Kwasem Chlebowym, albo piwem, ale tylko jasnym, polecamy Obolom Pszeniczny.</p></div>
        <div class="collumn"><div class="head"><span class="headline hl3">O Gminie Suchy Dąb </span><p><span class="headline hl4">Zulawy Gdanskie</span></p></div><p>Gmina Suchy Dąb całkowicie usytuowana na Żuławach Gdańskich tak jak każdy region ma swoją własną specyfikę, nie ma chyba jednak w Polsce krainy tak niezwykłej i osobliwej jak Żuławy – wielka depresyjna równina, w delcie Wisły, królowej spośród polskich rzek, która w tak cudowny sposób ujmuje swoim pięknem i bogactwem będącym swoistym owocem ciężkich zmagań człowieka z przyrodą.

        Już w XIII wieku rozpoczęto tutaj prace melioracyjne, które zmieniły ten zalewowy obszar w najżyźniejszy region Polski, zwany niekiedy Małą Holandią. Przez wiele wieków była to ziemia ludzi pracowitych i bogatych, którzy pozostawili po sobie szereg interesujących zabytków kultury materialnej. Żuławy Gdańskie to znakomite miejsce zarówno do uprawiania turystyki rowerowej jak i wodnej, ale także znakomite miejsce na wypoczynek połączony z lekcją historii.

        Przez obszar naszej gminy przebiegają trzy szlaki, dwa szlaki rowerowe (szlak domów podcieniowych; szlak motławski) i jeden szlak wodny (szlak motławski). </p></div>
    </div>
</div>

</div>

</div>
