<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid jumbotron_catering_menu">
  <div class="container">
    <h1 class="display-4">Catering</h1>
    <p class="lead">
      Każde spotkanie czy wydarzenie wymaga indywidualnego podejścia i  sprawnej organizacji.<br/>
      Jedzenie jest jego nieodłącznym elementem, kwintesencją, smakiem który sprawi że będzie udane bądź nie.
      Jeśli gościłeś już w naszej Restauracji i podczas obiadu lub przyjęcia rozsmakowałeś się w naszych potrawach, przygotowanych wyłącznie ze świeżych i starannie wyselekcjonowanych produktow od sprawdzonych dostawcow, to z pewnością zainteresuje Cię nasza wyjątkowa oferta cateringowa.</p>
    </div>
  </div>
<div class="container-fluid">


  <div class="container py-5">


          <!-- Zupy -->
          <% if @newest_catering_menu.dishes.where(:dish_type => "Zupa").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Zupy</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @newest_catering_menu.dishes.where(:dish_type => "Zupa").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dania Glowne -->
          <% if @newest_catering_menu.dishes.where(:dish_type => "Danie Glowne").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Dania główne</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @newest_catering_menu.dishes.where(:dish_type => "Danie Glowne").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dania na zimno -->
          <% if @newest_catering_menu.dishes.where(:dish_type => "Danie na zimno").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Przystawki zimne</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @newest_catering_menu.dishes.where(:dish_type => "Danie na zimno").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dodatki -->
          <% if @newest_catering_menu.dishes.where(:dish_type => "Dodatek").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Dodatki</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @newest_catering_menu.dishes.where(:dish_type => "Dodatek").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Napoje -->
          <% if @newest_catering_menu.dishes.where(:dish_type => "Napoje").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Napoje</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @newest_catering_menu.dishes.where(:dish_type => "Napoje").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>


  </div>

</div>
