<%= @menuID %>


<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-fluid jumbotron_day_menu">
  <div class="container">
    <h1 class="display-4">Menu na Dzis</h1>
    <p class="lead">Życzymy smacznego</p>
  </div>
</div>

<div class="container-fluid">
  <div class="container py-5">

          <!-- Zupy -->
          <% if @selected_menu.dishes.where(:dish_type => "Zupa").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Zupy</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @selected_menu.dishes.where(:dish_type => "Zupa").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dania Glowne -->
          <% if @selected_menu.dishes.where(:dish_type => "Danie Glowne").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Dania główne</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @selected_menu.dishes.where(:dish_type => "Danie Glowne").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dania na zimno -->
          <% if @selected_menu.dishes.where(:dish_type => "Danie na zimno").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Przystawki zimne</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @selected_menu.dishes.where(:dish_type => "Danie na zimno").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Dodatki -->
          <% if @selected_menu.dishes.where(:dish_type => "Dodatek").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Dodatki</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @selected_menu.dishes.where(:dish_type => "Dodatek").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- Napoje -->
          <% if @selected_menu.dishes.where(:dish_type => "Napoje").count > 0 %>
            <div class="col-12 mt-4">
                <h3 class="text-center">Napoje</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
              <% @selected_menu.dishes.where(:dish_type => "Napoje").each do |p| %>
                <div class="card card-body">
                    <span class="float-right font-weight-bold"><%= style_price_display(p.price) %></span>
                    <h6 class="text-truncate"><%= p.name %> <span class="weight_and_unit"> (<%= p.weight %> <%= p.weight_unit %>) </span></h6>
                    <p class="small"><%= p.description %></p>
                </div>
              <% end %>
            </div>
          <% end %>

      </div>
  </div>

</div>
