<div class="container-fluid">
  <%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

    <ul>
      <% dish.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="row mt-4">
    <div class="col-md-6">
      <div class="control-field">
        <%= form.label "Nazwa" %>
        <%= form.text_field :name, :class => "form-control" %>
      </div>
    </div>
  </div>

<div class="row mt-4">
  <div class="col-md-6">
    <div class="control-field">
      <%= form.label "Opis" %>
      <%= form.text_area :description, :class => "form-control", :rows => 5 %>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-4">
    <%= form.label :price %>
    <%= form.text_field :price, :class => "form-control" %>
  </div>
  <div class="col-4">
    <%= form.label "Waga / ilosc sztuk" %>
    <%= form.text_field :weight, :class => "form-control" %>
  </div>
  <div class="col-4 align-self-end">
    <%= form.label "Jednostka" %>
    <%= form.select :weight_unit, ['g', 'kg', 'ml', 'porcja', 'szt.'], :class => "form-control" %>
  </div>
</div>


<div class="row mt-4">
  <div class="col">
    <%= form.label :dish_type %>
    <%= form.select :dish_type, ['Danie Glowne', 'Zupa', 'Dodatek', 'Danie na zimno', 'Napoje'], :class => "form-control" %>

  </div>
</div>


<div class="row mt-5">
  <div class="col-2">
    <div class="actions">
      <%= link_to 'Wstecz', {:controller => 'admins', :action => "index"}, class: 'btn btn-block btn-danger' %>
    </div>
  </div>

  <div class="col-2">
    <div class="actions">
      <%= form.submit "Zapisz", class: "btn btn-block btn-success" %>
    </div>
  </div>
</div>
  <% end %>


</div>
