<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Lista Potraw</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= link_to 'New Dish', new_dish_path %>
    </div>
    <div class="col-md-4">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"><%= sortable('name', 'Nazwa') %></th>
            <th scope="col">Opis</th>
            <th scope="col">Waga/ilosc</th>
            <th scope="col">Jednostka</th>
            <th scope="col"><%= sortable('dish_type', 'Typ') %></th>
            <th scope="col"><%= sortable('price', 'Cena') %></th>
            <th scope="col">Opcje</th>
          </tr>
        </thead>
        <tbody>
          <% @dishes.each do |food| %>
          <tr>
            <td class="col-md-2"><%= food.name %></td>
            <td class="col-md-2"><%= food.description %></td>
            <td class="col-md-2"><%= food.weight %></td>
            <td class="col-md-1"><%= food.weight_unit %></td>
            <td class="col-md-1"><%= food.dish_type %></td>
            <td class="col-md-1"><%= food.price %></td>
            <td class="col-md-1"><%= link_to 'Pokaz', food %></td>
            <td class="col-md-1"><%= link_to 'Edytuj', edit_dish_path(food) %></td>
            <td class="col-md-1"><%= link_to 'Usun', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <div class="row">
      <div class="col-md-12" style="height:300px;">
        <!-- dummy spacer to keep footer down -->
      </div>
    </div>

</div>
