<p id="notice"><%= notice %></p>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1>Lista Zdjec</h1>
    </div>
  </div>

  <div class="row mb-4 mt-4">
    <div class="col-md-2">
      <%= link_to 'Wstecz', {:controller => 'admins', :action => "index"}, class: 'btn btn-block btn-danger' %>
    </div>
    <div class="col-md-3">
      <%= link_to 'Dodaj Zdjecie', new_photo_path, class: 'btn btn-block btn-info' %>
    </div>
    <div class="col-md-3">
      <%= link_to("Admin Panel", {:controller => 'admins', :action => 'index'}, class: 'btn btn-block btn-warning') %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 table-responsive-md">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Pozycja</th>
            <th scope="col">Podglad</th>
            <th scope="col">Tytul</th>
            <th scope="col">Opis</th>
            <th scope="col">Opcje</th>
          </tr>
        </thead>
        <tbody>
          <% @photos.each do |p| %>
          <tr>
            <td class="col-md-3"><%= p.position %></td>
            <td class="col-md-3"><%= image_tag(p.photo_file.variant(combine_options: {resize: '75^x75', gravity: 'center', extent: '75x75'}).processed) %></td>
            <td class="col-md-3"><%= p.title %></td>
            <td class="col-md-3"><%= p.description.html_safe %></td>
            <td class="col-md-1"><%= link_to 'Pokaz', p %></td>
            <td class="col-md-1"><%= link_to 'Edytuj', {:controller => 'photos', :action => 'edit', :id_gal => p.gallery_id, :id => p.id} %></td>
            <td class="col-md-1"><%= link_to 'Usun', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


    <div class="row">
      <div class="col-md-12" style="height:300px;">
        <!-- dummy spacer to keep footer down -->
      </div>
    </div>

</div>
