<% obrazek=url_for(@gallery.cover_image) %>
<div class="jumbotron jumbotron-fluid gallery_jumbotron" style="background-image: url(<%= url_for(@gallery.cover_image) %>) ">
  <div class="container">
    <h1 class="display-4"><%= @gallery.title %></h1>
    <p class="lead"><%= @gallery.description.html_safe %></p>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to "Dodaj Zdjecie",{:controller => 'photos', :action => "new", :id => @gallery}, class: "btn btn-block btn-success" %>
<% end %>

<% @photos.all.each_slice(3) do |photo_row| %>
  <div class="row justify-content-center">
    <% photo_row.each do |p| %>
    <div class="col-md-3 p-2 m-3">
      <div class="overlay-container d-flex justify-content-center m-auto" data-overlay-text="<%= p.title %>">
        <%= link_to image_tag(p.photo_file.variant(combine_options: {resize: '300^x300', gravity: 'center', extent: '300x300'}).processed, :class => "img-responsive gallery_image"), p.photo_file, data: {lightbox: 'roadtrip', title: p.title+p.description} %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12" style="height:300px;">
    <!-- dummy spacer to keep footer down -->
  </div>
</div>


<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'fitImagesInViewport': true
    })
</script>
